.ctnTabla {
  margin: 20px 100px 0px 100px;
}

.font {
  font-size: 12px;
}
.img {
  height: 50px;
}

.btnx {
  margin: 0 auto;
  border: none;
  background-color: black;
}

.x {
  color: red;
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 10px;
}

.x:hover {
  font-weight: 800;
}

.icon {
  font-size: 25px;
  margin-top: 10px;
}

.icon:hover {
  color: rgb(207, 117, 0);
}
