.ctnSup {
  display: flex;
  margin-top: 1%;
  align-items: flex-start;
  margin-left: 40px;
}

.btn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  border: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1px;
  background-color: #00000000;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(207, 117, 0);
}

.btn:focus {
  color: rgb(207, 117, 0);
}

.title {
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  animation-name: tittle;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-family: "Montserrat", sans-serif;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  font-weight: 300;
  width: 100%;
  font-size: 50px;
  letter-spacing: 1px;
  
}

@-moz-keyframes tittle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes tittle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tittle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
