.input {
    margin: o auto;
    border: 1px solid black;
    width: 300px;
    font-weight: 600;
    font-size: 12px;
    padding: 0.4em ;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0);
    color: black;
  }