.Register {
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid gainsboro;
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  height: max-content;
  width: 30%;
  border-radius: 7px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
}

.titleRegister {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 30px;
  letter-spacing: 1px;
}

.username {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 15px;
}

.password {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 15px;
}

.email {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.title {
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  font-size: 0.9rem;
}

.input {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  width: 400px;
  color: #212529;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.btn {
  background-color: black;
  color: white;
  width: 100%;
  height: 35px;
  border-radius: 0.25rem;
}

.link {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.titleModal {
  letter-spacing: 1px;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}

.ctnText {
  text-align: center;
  padding: 20px;
}

.btnAceptar {
  margin-top: 20px;
  padding: 0.4em;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: #000000;
  cursor: pointer;
  width: 100px;
}

.btnAceptar:hover {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(207, 117, 0);
  border: 1px solid rgb(207, 117, 0);
}

.error {
  margin-top: 3px;
  color: rgb(255, 0, 0);
}
